@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
  background-image: url('https://pbs.twimg.com/media/D4kFDw5W0AAoAXg.png');
}

.parent {
  display: grid;
  place-items: center;
  text-align:center
}

.reference {
  position: relative;
}

.letter {
  position: relative;
  z-index: 4;
  top: 0;
}

.letterFont {
  font-family: 'Caveat', cursive;
  font-size: 33px;
}

.unopenedMessageBox {
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 600px;
  background-color: rgb(250, 249, 240);
  min-height: 300px;
  border-radius: 30px;
  z-index: 1;
  border-style: solid;
  border-color: rgb(130, 190, 190, 0.6);
  border-width: 5px
}

.grambox {

}

.above {
  color: black;
  text-align: center;
}